@use 'variables';

.order-grid {
  width: 100%;
  padding: 16px;
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid map-get(variables.$colors, main-bright);
  }
  
  th {
    background-color: map-get(variables.$colors, main-bright);
    font-weight: bold;
  }
}